.DS_Store
node_modules
/dist
/api/twibbly_env

# local env files
.env.local
.env.*.local
/api/v1/.flaskenv
/api/v1/.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
