.DS_Store
node_modules
/dist
/backend/env

# local env files
.env.local
.env.*.local
.env
setup_twibbly_db.sql

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
